@media screen and (min-width: 1025px) and (max-width: 1200px){
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */

  .account-wrapper {
    /* margin: 10% auto;
    display: block; */
    width: 720px;
    text-align: center;
  }

  .login-wrapper {
    /* margin: 10% auto;
    display: block; */
    width: 720px;
    text-align: center;
  }

  a.button1 {
    margin:0.0em 0.5em 1.0em 0.5em;
    border:0.1em solid #ff0000;
  }

}