@font-face {
    font-family: "Discord";
    src: url("static/fonts/Discord/UniSansDemoHeavyCAPS.woff") format("woff"),
    url("static/fonts/Discord/UniSansDemoHeavyCAPS.otf") format("opentype"),
    url("static/fonts/Discord/UniSansDemoHeavyCAPS.woff2") format("woff2");
    }

@font-face {
    font-family: 'Nasalization Rg';
    src: url('../fonts/Nasalization/NasalizationRg-Regular.eot');
    src: local('NasalizationRg-Regular'),
        url('../fonts/Nasalization/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nasalization/NasalizationRg-Regular.woff2') format('woff2'),
        url('../fonts/Nasalization/NasalizationRg-Regular.woff') format('woff'),
        url('../fonts/Nasalization/NasalizationRg-Regular.ttf') format('truetype'),
        url('../fonts/Nasalization/NasalizationRg-Regular.svg#NasalizationRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54,57,62);
    color: white;
    font-family: "Nasalization Rg";
    z-index: auto;
}

footer {
    max-height: 60px;
    width: 320px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
}

.footer {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer a{
    color:  rgb(0, 175, 244);
    background-color: transparent;
    text-decoration: none;
}

footer:hover a {
    color: rgb(0, 175, 244);
    background-color: transparent;
    text-decoration: underline;
}

.constructionImg {
    width: 256px;
    border-radius: 50%;
    background-color: #36393e;
}

#discord{
    color: rgb(0, 175, 244);
    text-decoration: none;
}

#discord:hover {
    transform: scale(1.1);
    transition: 0.3s;
}