<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">

    <title>About - SwapBot</title>
    <meta name="description" content="Swapbot is a Discord Utility Bot. 
    It adds marketpalce functionality to any server it is in, to allow the buying, selling, and trading of items between its users.">
    <meta name="author" content="Zach Lesniewski & Elijah Ellertson">
    <!-- <meta name="robots" content="none"> -->
</head>
<main>
    <header>
        <!-- FULL LENGTH BANNER -->
        <div id="brand"><img src="static/assets/logo.png" class="logo" alt="SwapBot"><a href="/">SwapBot Dashbaord</a></div>
            <!-- MAIN MENU -->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <img src="{{avatar_url}}" class="user-pic" alt="Profile Menu" onclick="toggleMenu()">
                </ul>

                <!-- PROFILE SUB-MENU -->
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="{{avatar_url}}">
                            <h3>{{first_name}} {{last_name}}</h3>
                        </div>
                        <hr>
                        <a href="/profile" class="sub-menu-link">
                            <img src="static/assets/setting.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Edit Profile</p>
                            <span>></span>
                        </a>
                        <a href="/logout" class="sub-menu-link">
                            <img src="static/assets/logout.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </nav>

            <!-- MOBILE MENU -->
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </header>
    <body>
        
        <div name="logged-in" class="centered">
            <h1>About</h1>
            <br>
            <p>SwapBot is a Discord Utility Bot.<br><br>It adds marketplace functionality to any server it is in,<br> to allow the buying, selling, and trading of items between its users.</p>
            <br>
            <img src="static/assets/logo.png" style="height: 250px; width: 250px; border-radius: 50%; border: 2px solid white" alt="User Avatar URL">
        </div>   
        <script src="static/scripts/index.js"></script>
    </body>
</main>
<footer class="footer">
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>