<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">
    <title>Login - My Webpage</title>
</head>
<main>
    <body>
        <!-- <script type="text/javascript">
            var toConstruction = function (event){
                if (window.innerWidth >= 885){
                    window.location.href = "/home";
                }
            };
            window.addEventListener('resize', toConstruction, false);
            window.addEventListener('load', toConstruction, false);
        </script> -->
        <div class="centered">
            <img src="static/assets/construction.png" alt="Under Construction" class="constructionImg">
            <h1>Mobile Site<br>Under Construction</h1>
        </div>        
    </body>
</main>
<footer class="footer">
    <br>
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>
