<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/navbar.css">

    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">
    <title>Homepage - SwapBot</title>

</head>
<main>
    <header>
        <!-- FULL LENGTH BANNER -->
        <div id="brand"><img src="static/assets/logo.png" class="logo" alt="SwapBot"><a href="/">SwapBot Dashbaord</a></div>
            <!-- MAIN MENU -->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <img src="{{avatar_url}}" class="user-pic" alt="Profile Menu" onclick="toggleMenu()">
                </ul>

                <!-- PROFILE SUB-MENU -->
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="{{avatar_url}}">
                            <h3>{{first_name}} {{last_name}}</h3>
                        </div>
                        <hr>
                        <a href="/profile" class="sub-menu-link">
                            <img src="static/assets/setting.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Edit Profile</p>
                            <span>></span>
                        </a>
                        <a href="/logout" class="sub-menu-link">
                            <img src="static/assets/logout.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </nav>

            <!-- MOBILE MENU -->
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </header>
    <body>
        <div id="listingBrowser" style="display: block; overflow-y: auto; overflow-x: hidden;">
        <div class="itemBrowser">
            <div id="itemBox" class="itemB-child">
                <a href="discord://discordapp.com/channels/1064697295561560074/1082394761211695125/1082447146592247918" target="_blank" rel="noopener noreferrer" class="nostyle">
                <img src="https://media.discordapp.net/attachments/1053679002457493554/1082446817423261746/20230301_113026.jpg?width=805&height=314">
                <div id="itemCard">
                    <h4 style="display: inline;">Blackwidow Chroma V2 Keyboard -</h4>
                    <h5 style="display: inline;">$50</h5>
                    <p>All keys work<br>
                    No wrist wrest<br>
                    Has USB and aux jack passthrough</p>
                </div>
                </a>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="https://media.discordapp.net/attachments/1044706391828475994/1080989176805199962/IMG_0667.jpg?width=456&height=608">
                <div id="itemCard">
                    <h4 style="display: inline;">Oculus Quest 2 (Like New) -</h4>
                    <h5 style="display: inline;">$350</h5>
                    <p>An Oculus Quest 2. I bought it shortly before I moved out here, thinking I’d use it a bunch. I maybe used it at most like 5 times, and then haven’t touched it since. Rather have money than let it continue to collect dust.</p>
                </div>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="https://media.discordapp.net/attachments/1035327126381015120/1082349258377809950/IMG_20230306_095823753.jpg?width=458&height=608">
                <div id="itemCard">
                    <h4 style="display: inline;">AMD Ryzen 7 7700X Processor -</h4>
                    <h5 style="display: inline;">$340</h5>
                    <p>AM5 Socket Only<br>
                        8 Cores<br>
                        16 Threads<br>
                        Base Clock: 4.5 GHz<br>
                        Max Clock: 5.4 GHz<br>
                        Still has Manufacturer Warranty<br>
                        <br>
                        Willing to Trade for PC Parts as long as it'll match the value of the CPU</p>
                </div>
            </div>   
        </div>
        <div class="itemBrowser">
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>   
        </div>
        <div class="itemBrowser">
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>
            <div id="itemBox" class="itemB-child">
                <img src="static/assets/product_placeholder.png">
                <div id="itemCard">
                    <h4 style="display: inline;">Item Title -</h4>
                    <h5 style="display: inline;">$XX.xx</h5>
                    <p>This is a 3 line section of the items description which will eventually be cut off when it becomes to long...</p>
                </div>
            </div>   
        </div>
        </div>
        <script src="static/scripts/index.js"></script>
    </body>
</main>
<footer class="footer">
    <br>
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>