<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/navbar.css">

    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/tablet.css">
    <link rel="stylesheet" href="static/css/standardDef.css">
    <link rel="stylesheet" href="static/css/highDef.css">
    <title>Login - My Webpage</title>

</head>
<main>
    <header>
        <!-- MOBILE SITE CONSTRUCTION REDIRECT -->
        <script type="text/javascript">
            var toConstruction = function (event){
                if (window.innerWidth < 769){
                    window.location.href = "/construction";
                }
            };
            window.addEventListener('resize', toConstruction, false);
            window.addEventListener('load', toConstruction, false);
        </script>

            <!-- FULL LENGTH BANNER -->
            <div class="hero">
                <!-- MAIN MENU -->
                <nav>
                    <img src="static/assets/favicon.ico" class="logo" alt="SwapBot">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    <img src="{{avatar_url}}" class="user-pic" alt="Profile Menu" onclick="toggleMenu()">

                    <!-- PROFILE SUB-MENU -->
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <img src="{{avatar_url}}">
                                <h3>Zach Lesniewski</h3>
                            </div>
                            <hr>
                            <a href="#" class="sub-menu-link">
                                <img src="static/assets/setting.png" style="height: 30px; width: 30px; border-radius: 50%;">
                                <p>Edit Profile</p>
                                <span>></span>
                            </a>
                            <a href="#" class="sub-menu-link">
                                <img src="static/assets/logout.png" style="height: 30px; width: 30px; border-radius: 50%;">
                                <p>Logout</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                </nav>

                <!-- MOBILE MENU -->
                <!-- <div id="mobileMenu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                    <div class="bar5"></div>
                    <div class="bar6"></div>
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Features</a></li>
                        <li><a>About</a></li>
                        <li><a>Contact</a></li>
                        <li><a>Edit Profile</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </div> -->
            </div>
    </header>
    <body>
        
        <div name="logged-in" class="centered">
            <img src="{{avatar_url}}" style="height: 250px; width: 250px; border-radius: 50%; border: 2px solid white" alt="User Avatar URL">
            <br>
            <p>Login Successful</p>
            <p>Logged In As: {{current_user}}<br>UID: {{user_id}}</p>
            <br>
            <a href='/testPost' class="button1">Post Test to Guild</a>
            <br>
            <a href="/logout" class="button1">Logout</a>
        </div>   

    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
    </body>
</main>
<footer class="footer">
    <br>
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>