<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">

    <title>Listings - SwapBot</title>
    <meta name="description" content="A Marketplace bot for Discord allowing the exchange of items between users in an organized format.">
    <meta name="author" content="Zach Lesniewski & Elijah Ellertson">
    <!-- <meta name="robots" content="none"> -->
</head>
<main>
    <header>
        <!-- FULL LENGTH BANNER -->
        <div id="brand"><img src="static/assets/logo.png" class="logo" alt="SwapBot"><a href="/">SwapBot Dashbaord</a></div>
            <!-- MAIN MENU -->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/listings">Listings</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <img src="{{avatar_url}}" class="user-pic" alt="Profile Menu" onclick="toggleMenu()">
                </ul>

                <!-- PROFILE SUB-MENU -->
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="{{avatar_url}}">
                            <h3>{{first_name}} {{last_name}}</h3>
                        </div>
                        <hr>
                        <a href="/profile" class="sub-menu-link">
                            <img src="static/assets/setting.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Edit Profile</p>
                            <span>></span>
                        </a>
                        <a href="/logout" class="sub-menu-link">
                            <img src="static/assets/logout.png" style="height: 30px; width: 30px; border-radius: 50%;">
                            <p>Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </nav>

            <!-- MOBILE MENU -->
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/listings">Listings</a></li>
                    <li><a href="/construction">Features</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/profile">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </header>
    <body>
        <div id="page-container">
        <div id="listingBrowser">

            {% if data_sell|length < 1 %}
                {% if image|length < 1 %}
                    <h1 style="margin: auto;font-size: xxx-large;padding-top: 10vh;">No Current Listings in Your Guilds</h1>
                {%endif%}
            {%endif%}


            {% if data_sell|length > 0 %}
                {%for data in data_sell%}
                    {%if data["add_images"]%}
                        <div id="itemBox" class="itemB-child" onclick="on(`overlay-{{data['title']}}`); showSlides(1, {{data['id']}})">
                    {%else%}
                        <div id="itemBox" class="itemB-child" onclick="on(`overlay-{{data['title']}}`)">
                    {%endif%}

                        {%if data["image"] == "nophoto"%}
                            <img src="static/assets/product_placeholder.png">
                        {%else%}
                            <img src={{data["image"]}}>
                        {%endif%}
                        <div id="itemCard">
                            <h4 style="display: inline;">[SELL] {{data["title"]}} - ${{data["price"]}}</h4>
                            <p>{{data["description"]}}</p>
                        </div>
                    </div>

                    <div id='overlay-{{data["title"]}}' class="overlay" onclick="off(`overlay-{{data['title']}}`)">
                        <div class="over-div">
                        {%if data["image"] == "nophoto"%}
                            <img src="static/assets/product_placeholder.png">
                        {%else%}
                                {%if data["add_images"]%}
                                    <div class='slideshow-container'>
                                        <div class='mySlides mySlides-{{data["id"]}} fade'>
                                            <img src={{data["image"]}} style="width:100%; height:100%">
                                        </div>
                                        {% for image in data["add_images"].split("|")%}
                                            {% if image|length > 10 %}
                                                <div class='mySlides mySlides-{{data["id"]}} fade'>
                                                    <img src={{image}} style="width:100%; height:100%">
                                                </div>
                                            {%endif%}
                                        {%endfor%}
                                        <a class="prev" onclick='plusSlides(-1, {{data["id"]}})'>❮</a>
                                        <a class="next" onclick='plusSlides(1, {{data["id"]}})'>❯</a>
                                    </div>
                                {%else%}
                                    <img src={{data["image"]}}>
                                {%endif%}
                        {%endif%}
                            <div class="itemData-Overlay">
                        <div id="itemCard-overlay">
                            <h4 style="display: inline;">[SELL] {{data["title"]}} -  ${{data["price"]}}</h4>
                            <h6>Posted {{data["date_diff"]}} day(s) ago</h6>
                            <p class="underline bold">Details</p>
                            <p class="underline">Condition:</p>
                                <p>    {{data['condition']}}</p>
                            <p class="underline">Exchange:</p>
                                <p>    {{data['meetup']}}</p>
                            <p class="underline">Payment Methods:</p>
                                <p>    {{data["payment_methods"]}}</p>
                            <p class="underline bold">Description</p>
                            <p class="description">{{data["description"]}}</p>
                            <div>Posted By: {{data["name"]}} </div>
                            <a class="prof_button popup" onclick="btnViewProfile('{{data['author_id']}}', '{{user_id}}', '{{data['guild_id']}}'); profile_popup('{{data['id']}}')">View Profile
                                <span class="popuptext" id="myPopup-prof-{{data['id']}}">You will DMed the profile info</span></a>
                        </div>
                            <a class="button popup" onclick="btnOnClick('SELL', {{data['id']}}, '{{user_id}}'); contact_popup({{data['id']}}, {{user_id}}, {{data['author_id']}})">Contact Lister
                                <span class="popuptext" id="myPopup-{{data['id']}}">A Simple Popup!</span></a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}

            {% if data_buy|length > 0 %}
                {%for data in data_buy%}
                    <div id="itemBox" class="itemB-child" onclick="on(`overlay-{{data['title']}}`)">
                        <div id="itemCard" style="margin-top: 0">
                            <h4 style="display: inline;">[BUY] {{data["title"]}} - ${{data["price"]}}</h4>
                            <p>{{data["description"]}}</p>
                        </div>
                    </div>
                    <div id='overlay-{{data["title"]}}' class="overlay" onclick="off(`overlay-{{data['title']}}`)">
                        <div class="over-div">
                            <div class="itemData-Overlay">
                                <div id="itemCard-overlay">
                                    <h4 style="display: inline;">[BUY] {{data["title"]}} - ${{data["price"]}}</h4>
                                    <h6>Posted {{data["date_diff"]}} day(s) ago</h6>
                                    <p class="underline bold">Details</p>
                                    <p class="underline">Condition:</p>
                                        <p>    {{data['condition']}}</p>
                                    <p class="underline">Exchange:</p>
                                        <p>    {{data['meetup']}}</p>
                                    <p class="underline">Payment Methods:</p>
                                        <p>    {{data["payment_methods"]}}</p>
                                    <p class="underline bold">Description</p>
                                    <p class="description">{{data["description"]}}</p>
                                    <div>Posted By: {{data["name"]}} </div>
                                    <a class="prof_button popup" onclick="btnViewProfile('{{data['author_id']}}', '{{user_id}}', '{{data['guild_id']}}'); profile_popup('{{data['id']}}')">View Profile
                                        <span class="popuptext" id="myPopup-{{data['id']}}">You will DMed the profile info</span></a>
                                </div>

                                <a class="button popup" onclick="btnOnClick('BUY', {{data['id']}}, {{user_id}}); contact_popup({{data['id']}}, {{user_id}}, {{data['author_id']}})">Contact Lister
                                    <span class="popuptext" id="myPopup-{{data['id']}}">A Simple Popup!</span></a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}
        </div>
        <footer class="footer">
            &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
        </footer>
        <script src="static/scripts/index.js"></script>
        </div>
    </div>
    </body>
</main>
</html>
