<!doctype html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/style.css')}}> -->
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">

    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">
    <title>Login - SwapBot</title>
</head>
<main>
    <body>
        <div name="login" class="centered">
            <h1 style="padding-bottom: 3%;">Welcome to the<br>SwapBot Dashboard!</h1>
            <a href={{oauth_uri}}><button class="button-36">Login With Discord</button></a>
        </div>        
    </body>
</main>
<footer class="footer">
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>
