<!doctype html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='css/style.css')}}> -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <title>Login - My Webpage</title>
</head>
<main>
    <body>
        <div name="login" class="login-wrapper">
            <h1>Welcome to the<br>SwapBot Dashboard!<br></h1>
            <a href={{oauth_uri}}><button class="button-36">Login With Discord</button></a>
        </div>        
    </body>
</main>
<footer>
    <br>
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>
