<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css">

    <title>Login - SwapBot</title>
    <meta name="description" content="A Marketplace bot for Discord allowing the exchange of items between users in an organized format.">
    <meta name="author" content="Zach Lesniewski & Elijah Ellertson">
    <!-- <meta name="robots" content="none"> -->
</head>
<main>
    <body>
        <div name="login" class="centered">
            <h1 style="padding-bottom: 3%;">Welcome to the<br>SwapBot Dashboard!</h1>
            <a href={{oauth_uri}}><button class="button-36">Login With Discord</button></a>
        </div>        
    </body>
</main>
<footer class="footer">
    &copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>
