<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico">

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/buttons.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/profile.css">

    <!-- <link rel="stylesheet" href="static/css/mobile.css">
    <link rel="stylesheet" href="static/css/desktop.css"> -->
    <title>Profile Creator - SwapBot</title>

</head>
<main>
    <header>
        <!-- FULL LENGTH BANNER -->
        <div id="brand"><img src="static/assets/logo.png" class="logo" alt="SwapBot"><a href="/">SwapBot Dashbaord</a></div>
            <!-- MAIN MENU -->
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/logout" style="color: rgb(211, 0, 0); font-weight: bold;">Logout</a></li>
                </ul>
                </div>
            </nav>

            <!-- MOBILE MENU -->
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <ul class="mobile-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </header>
    <body>
        <div class="centered" id="profile-container">
            <div style="float: left; width:25%;">
                <table style="margin-left: auto; margin-right: auto; height: 100%;">
                    <tr>
                        <td>
                            <div class="imgBox" style="display: inline-block; position: relative; width: 100%;">
                                <div style="margin-top: 100%;"></div>
                                <div style="background-image: url('static/assets/profile_placeholder.jpg');" class="pfp"></div>
                                <div class="hoverImg">
                                    <form method="POST" action="/submitPFP" id="pfpMakeForm" enctype="multipart/form-data">
                                        <img id="makePFPimg" alt="Select File" title="Select File" src="static/assets/profile.png" style="width: 100%;"/>
                                        <input type="file" id="FileUpload2" name='pfpFile' style="display: none;" accept="image/*" />
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="discordName" style="text-align: center;"><br>{{current_user}}</td>
                    </tr>
                    <tr>
                        <td class="UID" style="text-align: center;"><br>{{user_id}}</td>
                    </tr>
                </table>
            </div>
            <div style="float: left; width:75%; padding-left: 10%;">
                <table style="margin-left: auto; margin-right: auto;">
                    <th colspan="2">General Information</th>
                    <form method="POST" action="/submitInfo" id="profileForm">
                    <tr>
                        <td class="input-label">First Name:</td>
                        <td><input type="text" id="fname" name="fname" placeholder="Preferred First Name"></td>
                    </tr>
                    <tr>
                        <td class="input-label">Last Name:</td>
                        <td><input type="text" id="lname" name="lname" placeholder="Legal Last Name"></td>
                    </tr>
                    <tr>
                        <td class="input-label">Pronouns:</td>
                        <td><input type="text" id="pnouns" name="pnouns" placeholder="Preferred Pronouns"></td>
                    </tr>
                    <tr>
                        <td class="input-label">Email:</td>
                        <td><input type="text" id="email" name="email" placeholder="Email (Not Required)"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center" style="padding-top: 5%;">
                            <input type="submit" value="SUBMIT" class="button1" id="savtBtn">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        </div>
        <script src="static/scripts/index.js"></script>
        <script src="static/scripts/profile.js"></script>
    </body>
</main>
<footer class="footer">
&copy; Copyright 2023 by <a href="https://swapbot.thedevcave.xyz/">TheDevCave</a>
</footer>
</html>